.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    height: 150px;
    overflow: hidden;
    width: 90%;
    gap: 20px;
    padding: 0 10px;
}
.container h1{
    font-size: 80px;
    font-weight: 700;
    color: rgb(49, 64, 26);
    background-color: transparent;
}
.container h2{
    color: rgb(49, 64, 26);
    font-size: 40px;
    font-weight: 500;
    background-color: transparent;
    margin: 3px 0px;
}
.container p{
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    color: rgb(49, 64, 26);
}
@media screen and (max-width: 480px){
    .container{
        margin-top: 15px;
        width: 90dvw;
        gap: 5px;
        padding: 0px 10px;
    }
    .container h1{
        font-size: 30px;
    }
    .container h2{
        font-size: 20px;
    }
    .container p{
        font-size: 10px;
    }
    .container img{
        width: 150px;
        object-fit: cover;
    }
}
@media screen and (min-width: 481px) and (max-width: 991.98px){
    .container h1{
        font-size: 50px;
    }
    .container h2{
        font-weight: 600;
        font-size: 20px;
    }
    .container p{
        font-size: 15px;
    }
    .container img{
        width: 40dvw;
        object-fit: cover;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199.98px){
    .container h1{
        font-size: 50px;
    }
    .container h2{
        font-weight: 600;
        font-size: 20px;
    }
    .container p{
        font-size: 15px;
    }
    .container img{
        object-fit: cover;
        width: 40dvw;
    }
}