.swipeContent{
    display: flex;
    align-items: center;
    padding: 0px 100px;
    justify-content: space-between;
    background-color: #F7F7F7;
    text-align: start;
    height: 100%;
    width: 100dvw;
}
.contentWrapper{
    background-color: transparent;
}
.swipeContent h1{
    font-size: 15px;
    font-weight: 500;
    margin: 15px 0px;
    background-color: transparent;
}
.h2{
    width: 400px;
    font-size: 35px;
    font-weight: 500;
    color: grey;
    background-color: transparent;
}
.swipeContent p{
    margin: 15px 0px 50px 0px;
    font-size: 15px;
    font-weight: 500;
    background-color: transparent;

}
.swipeContent strong{
    background-color: transparent;
}
.swipeContent button {
    outline: none;
    border: none;
    color: red;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 4px;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.arrow{
    color: red;
    background-color: transparent;
}
.productImage{
    background-color: transparent;
    display: inline-block;
}
.productImage img{
    width: 100%;
    height: 600px;
    object-position: center;
    object-fit: cover;
}
@media screen and (max-width: 575.98px){
    .swipeContent{
        display: flex;
        flex-direction: column;
    }
    .contentWrapper{
        width: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .swipeContent h1{
        font-size: 15px;
        font-weight: 500;
    }
    .h2{
        font-size: 25px;
        width: 300px;
    }
    .swipeContent p{
        font-size: 15px;
        font-weight: 500;
        margin: 10px;
    }
    .swipeContent button {
        color: red;
        font-size: 13px;
    }
    .productImage{
        /* background-color: red; */
        width: 300px;
    }
    .productImage img{
        width: 100%;
        height: 320px;
        object-position: center;
        object-fit: contain;
    } 
  }
  @media (max-width: 540px) and (max-height: 720px) {
    .swipeContent{
        display: flex;
        height: 100%;
    }
    .contentWrapper{
        width: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .swipeContent h1{
        font-size: 15px;
    }
    .h2{
        font-size: 20px;
        width: 250px;
    }
    .swipeContent p{
        width: 250px;
        font-size: 15px;
        font-weight: 500;
        margin: 10px 0px;
    }
    .swipeContent button{
        font-size: 13px;
        font-weight: 100;
    }
    .productImage{
        margin-bottom: 70px;
        width: 300px;
    }
    .productImage img{
        width: 100%;
        height: 320px;
        object-position: center;
        object-fit: cover;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991.98px){
    .swipeContent{
        width: 100dvw;
        padding: 50px;
    }
    .contentWrapper{
        width: 300px;
        text-align: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .swipeContent h1{
        font-size: 15px;
        font-weight: 500;
    }
    .h2{
        font-size: 20px;
        width: 200px;
    }
    .swipeContent p{
        font-size: 15px;
        font-weight: 500;
        margin: 10px 0px;
    }
    .swipeContent button {
        color: red;
        font-size: 12px;
    }
    .productImage{
        width: 400px;
        height: fit-content;
    }
    .productImage img{
        width: 100%;
        height: 400px;
        object-position: center;
        object-fit: cover;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1199.98px){
    .swipeContent{
        width: 100%;
        padding: 20px;
    }
    .productImage{
        display: inline-block;
        margin-bottom: 70px;
    }
    .productImage img{
        width: 100%;
        height: 500px;
        object-position: center;
        object-fit: cover;
    }
    .swipeContent h1{
        font-size: 15px;
        font-weight: 500;
    }
    .h2{
        font-size: 25px;
        width: 300px;
    }
    .swipeContent p{
        font-size: 15px;
        font-weight: 500;
    }
    .swipeContent button {
        color: red;
        font-size: 13px;
    }
}