.wrapper{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 20px;
}
.trendingWrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
.sideContent{
    width: 400px;
}
.content{
    background-color: red;
}
.adsContainer{
    height: 600px;
    width: 100%;
    background-image: url('../../assets/jpg/7.jpg');
    background-size: cover;
    background-position: center;
}
.adsContainer h1{
    background-color: transparent;
    width: 260px;
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-align: center;
}
.adsContainer h3{
    background-color: transparent;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
}
.adsContainer > div{
    margin-top: 60px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.adsContainer button{
    border: 2px solid white;
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: white;
    border-radius: 100px;
    font-weight: 500;
    font-size: 17px;
}
.filledButtonWrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0.4rem;
    align-items: center;
}
.filledButtonWrapper button{
    background-color: rgba(128, 128, 128, 0.148);
    width: fit-content;
    padding: 0.5rem 1.5rem;
    border: none;
    color: gray;
    border-radius: 5px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}
.filledButtonWrapper button:hover{
    background-color: #C10000;
    color: white;
}

@media screen and (max-width: 480px){
    .wrapper{
        display: grid;
        grid-template-columns: auto;
    }
    .sideContent{
        display: none;
    }
    .trendingWrapper{
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }
}
@media screen and (min-width: 481px) and (max-width: 991.98px){
     .wrapper{
        display: grid;
        grid-template-columns: auto;
    }
    .sideContent{
        display: none;
    }
    .trendingWrapper{
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199.98px){
     .wrapper{
        display: grid;
        grid-template-columns: auto;
    }
    .sideContent{
        display: none;
    }
    .trendingWrapper{
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }
}
 @media screen and (min-width: 1200px){
    .trendingWrapper{
        display: grid;
        grid-template-columns: auto auto auto;
        width: 100%;
    }
    .sideContent{
        width: 240px;
    }
    .adsContainer h1{
        width: fit-content;
        font-size: 30px;
    }
}