* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  /* border: 1px solid red; */
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.swiper {
  width: 90dvw;
  height: 75dvh;
  padding: 50px;
  background-color: #F7F7F7;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  background-color: transparent;
  padding: 0px 30px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px;
  color: grey;
}
.swiper-pagination {
  background-color: transparent !important; /* Remove any background color */
}
.swiper-pagination-bullet-active {
  background-color: grey !important; 
  width: 20px;
  border-radius: 10px;
  height: 8px;
}
@media screen and (max-width: 575.98px){
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .swiper {
    height: 57dvh;
    width: 100%;
    padding: 0px 30px;
  }
}

@media (max-width: 540px) and (max-height: 760px) {
  .swiper {
    height: 70dvh;
    width: 100%;
    padding: 0px 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px){
  .swiper {
    height: 40dvh;
    width: 100%;
    margin-top: 10px;
  }
  .swiper-button-prev,  
  .swiper-button-next {
    padding: 0px 15px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199.98px){
  .swiper {
    height: 35dvh;
    width: 100%;
    margin-top: 10px;
  }
  .swiper-button-prev,  
  .swiper-button-next {
    padding: 0px 15px;
  }
}