* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  /* border: 1px solid blue; */
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.customSwiper {
  width: 90dvw;
  height: 75dvh;
  padding: 50px;
  background-color: #F7F7F7;
}

.customSwiper .swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.customSwiper .swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  background-color: transparent;
  padding: 0px 30px;
}

.customSwiper .swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px;
  color: grey;
}
.customSwiper .swiper-pagination {
  background-color: transparent !important; /* Remove any background color */
}
.customSwiper .swiper-pagination-bullet-active {
  background-color: grey !important; 
  width: 20px;
  border-radius: 10px;
  height: 8px;
}

.productCustomSwiper{
  width: 100%;
  height: auto;
  padding: 50px;
  position: relative;
  padding: 0px 40px;
}
.productCustomSwiper .swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.productCustomSwiper .swiper-button-prev{
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: absolute;
  left: 0;
}
.productCustomSwiper
.swiper-button-next {
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: absolute;
  right: 0;
}

.productCustomSwiper .swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px;
  color: grey;
}
.productCustomSwiper .swiper-pagination {
  display: none;
}

@media screen and (max-width: 480px){
  .customSwiper .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .customSwiper {
    height: 57dvh;
    width: 100%;
    padding: 0px 30px;
  }
  .productCustomSwiper{
    display: none;
  }
}

@media (min-width: 481px) and (max-height: 991.98px) {
  .customSwiper {
    height: 70dvh;
    width: 100%;
    padding: 0px 30px;
  }
  .productCustomSwiper{
    display: block;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px){
  .customSwiper {
    height: 35dvh;
    width: 100%;
    margin-top: 10px;
  }
  .customSwiper .swiper-button-prev,  
  .swiper-button-next {
    padding: 0px 15px;
  }
  
}