* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.customSwiper {
  width: 95%;
  height: 75dvh;
  padding: 20px;
  background-color: transparent;
}

.customSwiper .swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.customSwiper .swiper-button-prev{
  width: 30px;
  height: 30px;
  margin-left: 30px;
  background-color: transparent;
}
.customSwiper
.swiper-button-next {
  width: 30px;
  height: 30px;
  margin-right: 30px;
  background-color: transparent;
}

.customSwiper .swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px;
  color: grey;
}
.customSwiper .swiper-pagination {
  background-color: transparent !important; /* Remove any background color */
}
.customSwiper .swiper-pagination-bullet-active {
  background-color: grey !important; 
  width: 20px;
  border-radius: 10px;
  height: 8px;
}

.productCustomSwiper{
  width: 100%;
  height: auto;
  padding: 50px;
  position: relative;
  padding: 0px 40px;
}
.productCustomSwiper .swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.productCustomSwiper .swiper-button-prev{
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: absolute;
  left: 0;
}
.productCustomSwiper
.swiper-button-next {
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: absolute;
  right: 0;
}

.productCustomSwiper .swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px;
  color: grey;
}
.productCustomSwiper .swiper-pagination {
  display: none;
}

.shopCardSwiper{
  height: 40vh;
  width: 100%;
  margin: 8rem 0;
}
.shopCardSwiper .swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.productCustomSwiper .swiper-button-prev {
  position: absolute;
  left: 0;
}
.productCustomSwiper .swiper-button-next {
  position: absolute;
  right: 0;
}

.shopCardSwiper .swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 25px;
  color: grey;
}


@media screen and (max-width: 480px){
  .customSwiper .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .customSwiper {
    height: 90vh;
    width: 100%;
    padding: 20px 30px;
  }
  .productCustomSwiper{
    display: none;
  }
  .shopCardSwiper{
    margin: 8rem 0 0 0;
  }
}

@media screen and  (min-width: 481px) and (max-width: 991.98px) {
  .customSwiper {
    height: 35%;
    width: 100%;
    padding: 0px 30px;
    margin-top: 20%;
  }
  .productCustomSwiper{
    display: block;
  }
  .shopCardSwiper{
    margin: 10rem 0 0 0;
  }
  .shopCardSwiper{
    height: 25vh;
   }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px){
  .customSwiper {
    height: 40dvh;
    width: 100%;
    margin-top: 10%;
  }
  .customSwiper .swiper-button-prev,  
  .swiper-button-next {
    padding: 0px 15px;
  }
   .shopCardSwiper{
    background-color: blue;
    padding: 100px;
   }
}
 @media screen and (min-width: 1200px){
    .shopCardSwiper{
      margin: 1rem 0;
    }
}